.currentStepContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.step{
    width: 44px;
    height: 44px;
    background: #CC2BC7;
    opacity: 0.4;
    border-radius: 50%;
}
.stepMain{
    display: flex;
    justify-content: space-around;
    width: 300px;
}
.stepNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFF6F5;
    opacity: 0.8;
    margin-top: 18%;
}
.active{
    width: 66px;
    height: 66px;
    background: #CC2BC7;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    opacity: 1;
}
.activeNumber{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    margin-top: 15%;
    color: #FFF6F5;
}