.footer{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #2E2439;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
}
.footerText{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFF6F5;
}