.headerContainer{
    display: flex;
    justify-content: space-around;
    background-color: #696179;
    height: 80px;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.6);
}
.vpnContainer{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFF6F5;
}
.vpn{
    margin-top: 14px;
}
.headrCenterInfo{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFF6F5;
    margin-top: 25px;
}
.logo{
    width: 59px;
    height: 59px;
    margin-top: 10px;
}