.fistStepMain{
    display: flex;
    justify-content: center;
}
.flexible{
    display: flex;
    justify-content: center;
}
.currentHack{
    margin-top: 30px;
    width: 330px;
    height: 337px;
    background: #594F63;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.14);
    backdrop-filter: blur(30px);    
    border-radius: 10px;
}
.hackNaming{
    display: flex;
    justify-content: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #FFF6F5;
    margin-top: 30px;
}
.hackInput{
    width: 262px;
    margin-top: 40px;
    height: 46px;
    background: #E6E6E6;
    border-radius: 6px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #5C5656;
    outline: none;
    border: none;
}
.hackInput::placeholder{
    font-size: 16px;
}
.hackGetButton{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 13px;
    width: 262px;
    height: 46px;
    background: linear-gradient(90deg, #D326CE 0%, #E26AB3 44.78%, #FFD29D 100%);
    border-radius: 6px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    color: #FFF6F5;
}
.hackGetButton:hover{
    transition: 0.7s;
    background: linear-gradient(70deg, #D326CE 10%, #E26AB3 24.78%, #FFD29D 80%);
    color: #594F63;
}
.erroMessage{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    font-size: 14px;
    color: red;
}
.iconsCOntainer{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.icons{
    width: 65px;
    height: 65px;
}
.addEmailContainer{
    width: 690px;
    margin-top: 32px;
    height: 321px;
    background: #594F63;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}
.typeEmailText{
    display: flex;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #FFF6F5;
}
.emailInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.emailInput{
    width: 431px;
    margin-top: 74px;
    height: 46px;
    background: #E6E6E6;
    border-radius: 6px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #5C5656;
    outline: none;
    border: none;
    padding-left: 10px;
}
.emailInput::placeholder{
    padding-left: 5%;
}
.nextButton{
    width: 426px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 46px;
    margin-top: 13px;
    border: none;
    background: linear-gradient(90deg, #D326CE 0%, #E26AB3 44.78%, #FFD29D 100%);
    border-radius: 6px;
    font-family: Raleway;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #FFF6F5;
}
.nextButton:hover{
    transition: 0.7s;
    background: linear-gradient(70deg, #D326CE 10%, #E26AB3 24.78%, #FFD29D 80%);
    color: #594F63;
}
.nextIcon{
    right: 4%;
    position: absolute;
}
.confirmationContainer{
    width: 690px;
    height: 344px;
    background: #594F63;
    box-shadow: 2px 2px 24px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    margin-top: 32px;
}
.confirmationHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: #A3F82B;
    margin-top: 32px;
}
.confirmationtext{
    width: 50%;
    margin-top: 18px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFF6F5;
}
.confirmationEmail{
    display: flex;
    justify-content: center;
    font-family: Raleway;
    margin-top: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFF6F5;
    text-decoration: underline;
}
.successIcon{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
